.wrapper{
    padding: 8px;
} 

.wrapper_detail{
   max-width: 800px;
    margin: auto;
}

.wrapper:last-child{
    padding-right: 512px;
 }

.Card{
    cursor: pointer;
    border: 1px solid;
    transition: transform .2s;
    border-radius: 8px;
    padding: 10px 40px;
    height: 300px;
    min-width: 150px;
    background-color: rgb(153, 200, 238);
}

.Card:hover{
        transform: scale(1.02);
}

.Card_detail{
  padding: 50px 40px;
  height: 300px;
  min-width: 150px;
  background-color: rgb(153, 200, 238);
}

div[class^="Card"] h2{
    color: rgba(255, 255, 255, 0.87);
}

div[class^="Card"] h3{
    color: rgba(255, 255, 255, 0.87);
}

div[class^="Card"] h4{
    color: rgba(255, 255, 255, 0.87);
}

.back{
  cursor: pointer;
  position: absolute;
  top:8px;
  right: 0;
  margin : 8px;
  color: rgba(255, 255, 255, 0.87);
}
